<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Select Year</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="page-container">
      <h2>Select Your Year</h2>

      <div class="card-container">
        <div class="card" onclick="goToDashboard(1)">
          <h3>1st Year</h3>
        </div>

        <div class="card" onclick="goToDashboard(2)">
          <h3>2nd Year</h3>
        </div>

        <div class="card" onclick="goToDashboard(3)">
          <h3>3rd Year</h3>
        </div>

        <div class="card" onclick="goToDashboard(4)">
          <h3>4th Year</h3>
        </div>
      </div>
    </div>
    <footer class="footer">
      <p>© 2026 AI Virtual Lab Assistant | ECE Department</p>
      <p>Built with Python + AI</p>
    </footer>

    <script>
      const dept = "{{ dept }}"; // coming from Flask

      function goToDashboard(year) {
        window.location.href = `/dashboard?dept=${dept}&year=${year}`;
      }
    </script>
  </body>
</html>
